In [109]:
import pandas as pd
import numpy as np

In [110]:
pd.options.display.float_format = '{:,.2f}'.format

### Problema 1
Vamos praticar gerar matrizes e fazer operações com as linhas e colunas:

(a) Crie uma matriz A com as dimensões (5, 4) e elementos aleatórios variando entre 0 e 50, com o 50 incluso;

__Dica:__ Utilize as funções `np.random.randint` e `np.reshape`

(b) Retorne a média do vetor

(c) Retorne os menores valores de cada coluna;

(d) Retorne os maiores valores de cada linha.

In [111]:
# a)

a = np.random.randint(0, 51, size=20 )


a = a.reshape(5,4)

In [112]:
# b)
a.mean()

29.4

In [113]:
# c)
a.min(axis = 0)

array([ 5, 11, 17,  5])

In [114]:
# d)
a.max(axis = 1)

array([43, 48, 31, 42, 47])

### Problema 2

Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:


| Peso (kg) | Altura (cm) | Idade (anos) |
|-----------|-------------|--------------|
|  47 | 161	| 31 |
|  80 | 170	| 21 |
|  60 | 175	| 16 |
|  90 | 162	| 28 |
| 100 | 185	| 23 |
| 147 | 189 | 32 |

Com base no DataFrame criado, realize o que for pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas;

(b) Obtenha a idade média das pessoas;

(c) Obtenha os dados das pessoas que estão abaixo da altura média;

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa;

__Obs.:__ A fórmula para o IMC é dada por IMC = Peso/(Altura)² com o peso em kg e a altura em metros.

(e) Remova a coluna que contém a idade das pessoas;

(f) Crie uma nova coluna chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

| IMC             | Classificação |
|-----------------|---------------|
Menor que 18,5    | Subpeso |
Entre 18,5 e 24,9 | Normal |
Entre 25,0 e 29,9 | Sobrepeso |
Entre 30,0 e 39,9 | Obesidade Grau I |
Maior que 40,0    | Obesidade Grau II |

(g) Salve esses dados do DataFrame em um arquivo csv.

In [115]:
dict_prob2 = {'Peso':[47,80,60,90,100,147],
              'Altura': [161,170,175,162,185,189],
              'Idade': [31,21,16,28,23,32]
            }

df = pd.DataFrame(dict_prob2)

df

   Peso  Altura  Idade
0    47     161     31
1    80     170     21
2    60     175     16
3    90     162     28
4   100     185     23
5   147     189     32

In [116]:
# (a) Visualize apenas os dados da coluna que contém a altura das pessoas;
df.Altura

0    161
1    170
2    175
3    162
4    185
5    189
Name: Altura, dtype: int64

In [117]:
# b) Obtenha a idade média das pessoas

idade_media = df["Idade"].mean()
print(f"Idade média = {idade_media}")

Idade média = 25.166666666666668

In [118]:
# c) Obtenha os dados das pessoas que estão abaixo da altura média;
altura_media = df['Altura'].mean()
df[df['Altura'] < altura_media]

   Peso  Altura  Idade
0    47     161     31
1    80     170     21
3    90     162     28

In [119]:
# d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa
df['IMC'] = df['Peso']/(df['Altura']/100)**2
df

   Peso  Altura  Idade   IMC
0    47     161     31 18.13
1    80     170     21 27.68
2    60     175     16 19.59
3    90     162     28 34.29
4   100     185     23 29.22
5   147     189     32 41.15

In [120]:
# e) Remova a coluna que contém a idade das pessoas;
df.drop('Idade', axis=1)

   Peso  Altura   IMC
0    47     161 18.13
1    80     170 27.68
2    60     175 19.59
3    90     162 34.29
4   100     185 29.22
5   147     189 41.15

In [121]:
# f)
df['Classificação'] = df.apply(lambda linha: 'Subpeso' if linha['IMC']<18.5 else 'Normal' if linha['IMC']< 24.9 else 'Sobrepeso' if linha['IMC']< 29.9 else 'Obesidade Grau I' if linha['IMC']< 39.9 else 'Obesidade Grau II', axis = 1)
df

   Peso  Altura  Idade   IMC      Classificação
0    47     161     31 18.13            Subpeso
1    80     170     21 27.68          Sobrepeso
2    60     175     16 19.59             Normal
3    90     162     28 34.29   Obesidade Grau I
4   100     185     23 29.22          Sobrepeso
5   147     189     32 41.15  Obesidade Grau II

In [122]:
#g)
df.to_csv('./data/output.csv', index=False)

### Problema 3

O arquivo avocado.xlsx consiste em um dataset que contém dados sobre vendas de abacates  em diversas regiões dos Estados Unidos. Essa dataset contém as seguintes colunas:

| Coluna | Descrição |
|--------|-----------|
| Date | data da observação |
| AveragePrice | preço médio de um único abacate |
| year | ano |
| region | cidade ou região da observação |
| Total Volume | volume total de abacates vendidos |

Além das informações acima, contidas no arquivo avocado.xlsx, o tipo do abacate (convencional ou orgânico) também seria uma informação importante para a sua análise. Suponhamos que você conseguiu essas informações para cada uma das observações do arquivo avocado.csv, na mesma ordem, e salvou-as no arquivo avocado_type.xlsx. Portanto, tudo o que você precisa é juntar esses dois arquivos em um mesmo DataFrame.

Com o DataFrame criado, obtenha o que é solicitado nos itens elencados abaixo:

In [123]:
#!python -m pip install --upgrade pip
#!pip install xlrd
!pip uninstall xlrd --yes
! pip install openpyxl

WARNING: Skipping xlrd as it is not installed.
Requirement already satisfied: openpyxl in /root/venv/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /root/venv/lib/python3.7/site-packages (from openpyxl) (1.1.0)

In [124]:
df_avocado_type = pd.read_excel("./data/avocado_type.xlsx")
df_avocado_type

               type
0          orgânico
1      convencional
2      convencional
3          orgânico
4          orgânico
...             ...
18244  convencional
18245  convencional
18246  convencional
18247  convencional
18248  convencional

[18249 rows x 1 columns]

In [125]:
df_avocado = pd.read_csv('./data/avocado.csv', sep =';')

In [126]:
 df_avocado['type'] = df_avocado_type
 df_avocado

,Date,AveragePrice,Total Volume,year,region,type
0,2015-12-27,1.33,"64,236.62",2015,Albany,orgânico
1,2015-12-20,1.35,"54,876.98",2015,Albany,convencional
2,2015-12-13,0.93,"118,220.22",2015,Albany,convencional
3,2015-12-06,1.08,"78,992.15",2015,Albany,orgânico
4,2015-11-29,1.28,"51,039.60",2015,Albany,orgânico
...,...,...,...,...,...,...
18244,2018-02-04,1.63,"17,074.83",2018,WestTexNewMexico,convencional
18245,2018-01-28,1.71,"13,888.04",2018,WestTexNewMexico,convencional
18246,2018-01-21,1.87,"13,766.76",2018,WestTexNewMexico,convencional
18247,2018-01-14,1.93,"16,205.22",2018,WestTexNewMexico,convencional
18248,2018-01-07,1.62,"17,489.58",2018,WestTexNewMexico,convencional

(a) A quantidade de abacates do tipo convecional e do tipo orgânico.

In [127]:
df_avocado.groupby('type')[['Total Volume']].sum()

                 Total Volume
type
convencional 7,940,060,677.75
orgânico     7,583,341,915.65


(b) A quantidade de registros (linhas) de abacates vendidos para cada região ordenada da maior venda para a menor.

In [128]:
df_avocado.groupby('region').sort_values(by=['Total Volume'], ascending=False, axis=0)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [81]:
#df_avocado.groupby("region").agg({"region":"count"}).sum()
df_avocado.shape

(18249, 6)

In [85]:
df_avocado[['region']].value_counts().sort_values(ascending = False)

region
Albany                 338
Denver                 338
Midsouth               338
BaltimoreWashington    338
Boise                  338
Boston                 338
BuffaloRochester       338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Detroit                338
Sacramento             338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
LasVegas               338
LosAngeles             338
Louisville             338
MiamiFtLauderdale      338
Nashville              338
NewOrleansMobile       338
NewYork                338
West                   338
Northeast              338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
RaleighGreensboro      338
RichmondNorfolk        338
Roanoke                338
SanDiego               338
Atlanta                338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SouthCentral           338
Southeast              338
Spokane                338
StLouis                338
Syracuse               338
Tampa                  338
TotalUS                338
WestTexNewMexico       335
dtype: int64

(c) Para que todos os labels das colunas fiquem padronizados, renomeie aqueles que estão iniciando em letra minúscula para que iniciem em letra maiúscula, trocando espaço por _ e adicionando _ como separação de texto.

In [129]:
# df_avocado.rename({coluna:coluna.capitalize() for coluna in df_avocado.columns},axis = 1) , inplace = True)
df_avocado.rename({'region':'Region', 'Total Volume':'Total_Volume', 'AveragePrice':'Average_Price', 'year':'Year', 'type':'Type'},axis = 1, inplace = True)
df_avocado

,Date,Average_Price,Total_Volume,Year,Region,Type
0,2015-12-27,1.33,"64,236.62",2015,Albany,orgânico
1,2015-12-20,1.35,"54,876.98",2015,Albany,convencional
2,2015-12-13,0.93,"118,220.22",2015,Albany,convencional
3,2015-12-06,1.08,"78,992.15",2015,Albany,orgânico
4,2015-11-29,1.28,"51,039.60",2015,Albany,orgânico
...,...,...,...,...,...,...
18244,2018-02-04,1.63,"17,074.83",2018,WestTexNewMexico,convencional
18245,2018-01-28,1.71,"13,888.04",2018,WestTexNewMexico,convencional
18246,2018-01-21,1.87,"13,766.76",2018,WestTexNewMexico,convencional
18247,2018-01-14,1.93,"16,205.22",2018,WestTexNewMexico,convencional
18248,2018-01-07,1.62,"17,489.58",2018,WestTexNewMexico,convencional

In [130]:
df_avocado.head()

         Date  Average_Price  Total_Volume  Year  Region          Type
0  2015-12-27           1.33     64,236.62  2015  Albany      orgânico
1  2015-12-20           1.35     54,876.98  2015  Albany  convencional
2  2015-12-13           0.93    118,220.22  2015  Albany  convencional
3  2015-12-06           1.08     78,992.15  2015  Albany      orgânico
4  2015-11-29           1.28     51,039.60  2015  Albany      orgânico

In [131]:
{coluna:coluna.capitalize() for coluna in df_avocado.columns }

{'Date': 'Date',
 'Average_Price': 'Average_price',
 'Total_Volume': 'Total_volume',
 'Year': 'Year',
 'Region': 'Region',
 'Type': 'Type'}

(d) Essa dado possui duplicados? Se sim, remova-os do dataset.

In [132]:
df_avocado.duplicated().sum()

0

(e) Retire dos dados a região 'TotalUS'

In [133]:
df_avocado = df_avocado[df_avocado['Region'] != 'TotalUS']

In [138]:
np.sort(df_avocado['Region'].unique())

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'West', 'WestTexNewMexico'], dtype=object)

(g) Apresente as regiões que mais venderam abacate em todo o período em ordem decrescente.

In [134]:
df_avocado.groupby('Region')[['Total_Volume']].sum().sort_values(by = 'Total_Volume', ascending = False)

                        Total_Volume
Region
West                1,086,779,155.75
California          1,028,981,653.17
SouthCentral        1,011,279,618.83
Northeast             713,280,909.56
Southeast             615,238,409.11
GreatLakes            589,642,549.29
Midsouth              508,349,357.20
LosAngeles            507,896,547.63
Plains                311,188,529.11
NewYork               240,734,127.53
DallasFtWorth         208,419,286.55
Houston               203,167,867.80
PhoenixTucson         195,643,312.50
WestTexNewMexico      144,521,839.78
Denver                138,902,535.99
SanFrancisco          135,830,191.78
BaltimoreWashington   134,713,919.32
Chicago               133,702,338.51
Portland              110,552,211.60
Seattle               109,214,177.96
MiamiFtLauderdale      97,673,224.03
Boston                 97,273,984.83
SanDiego               89,791,919.69
Atlanta                88,605,118.85
Sacramento             75,163,746.86
Philadelphia           71,838,798.18
NorthernNewEngland     71,532,894.11
Tampa                  66,004,539.31
Detroit                63,422,419.38
SouthCarolina          60,753,772.90
Orlando                58,660,703.89
LasVegas               54,376,906.40
HartfordSpringfield    50,670,537.46
RaleighGreensboro      48,202,731.66
NewOrleansMobile       45,695,136.58
CincinnatiDayton       44,522,007.57
RichmondNorfolk        42,230,851.45
HarrisburgScranton     41,808,858.68
Nashville              35,612,089.23
Charlotte              35,555,544.42
StLouis                32,072,833.33
Indianapolis           30,263,391.43
GrandRapids            30,211,735.93
Columbus               29,993,361.42
Jacksonville           28,790,004.74
Roanoke                25,042,010.81
BuffaloRochester       22,962,470.40
Pittsburgh             18,806,345.81
Louisville             16,097,002.40
Albany                 16,067,799.97
Spokane                15,565,275.48
Boise                  14,413,187.75
Syracuse               10,942,667.68

(h) Calcule o volume total de abacates vendidos para cada tipo e ano.

In [156]:
df_avocado[(df_avocado['Year']==2018)|df_avocado['Year']==2017].groupby(["Region", "Year"]).agg({"Total_Volume":"sum"})

Empty DataFrame
Columns: [Total_Volume]
Index: []

(f) existe alguma região que foi a maior responsável pela queda na produção de 2018?

In [143]:
df_avocado.groupby(['Region', 'Year'])[['Total_Volume']].sum()

                       Total_Volume
Region           Year
Albany           2015  4,029,896.43
                 2016  5,264,335.59
                 2017  5,231,581.78
                 2018  1,541,986.17
Atlanta          2015 23,231,698.12
...                             ...
West             2018 92,477,085.01
WestTexNewMexico 2015 41,523,998.11
                 2016 43,807,431.60
                 2017 47,389,589.29
                 2018 11,800,820.78

[212 rows x 1 columns]

In [163]:
df_prod = df_avocado[df_avocado['Year']==2018].groupby(['Region'])[['Total_Volume']].sum() - df_avocado[df_avocado['Year']==2017].groupby(['Region'])[['Total_Volume']].sum()
df_prod.sort_values(by = 'Total_Volume')

                       Total_Volume
Region
West                -252,577,331.09
SouthCentral        -234,118,906.29
California          -233,903,219.27
Northeast           -158,323,764.37
Southeast           -136,452,781.32
GreatLakes          -136,193,188.33
LosAngeles          -120,428,796.65
Midsouth            -117,240,159.09
Plains               -72,251,958.45
NewYork              -51,121,418.14
Houston              -49,110,575.78
DallasFtWorth        -48,069,237.38
PhoenixTucson        -43,157,728.73
WestTexNewMexico     -35,588,768.51
Denver               -30,713,723.72
Chicago              -29,366,522.74
SanFrancisco         -28,888,243.62
BaltimoreWashington  -28,856,731.46
Portland             -28,501,663.45
Seattle              -27,086,471.39
Boston               -21,973,666.20
MiamiFtLauderdale    -21,138,810.40
Atlanta              -20,583,697.53
SanDiego             -20,520,441.82
Sacramento           -16,324,679.08
NorthernNewEngland   -16,024,122.63
Philadelphia         -15,704,007.93
Detroit              -14,489,466.84
SouthCarolina        -14,132,885.56
Tampa                -13,908,082.10
LasVegas             -12,940,201.18
Orlando              -12,896,463.06
CincinnatiDayton     -11,548,390.61
RaleighGreensboro    -11,239,752.52
HartfordSpringfield  -10,834,863.37
NewOrleansMobile     -10,262,541.22
RichmondNorfolk       -9,652,100.89
Nashville             -9,426,291.48
HarrisburgScranton    -9,242,506.14
Charlotte             -8,309,700.80
Columbus              -7,396,312.77
Indianapolis          -7,092,526.30
Jacksonville          -6,484,883.27
StLouis               -6,450,462.51
GrandRapids           -6,184,994.33
BuffaloRochester      -5,616,487.71
Roanoke               -5,594,841.91
Pittsburgh            -4,947,108.94
Spokane               -3,925,634.83
Louisville            -3,788,548.43
Albany                -3,689,595.61
Boise                 -3,545,801.74
Syracuse              -2,684,990.36

In [171]:
df_avocado[df_avocado['Year'].isin([2017,2018])][['Year']].value_counts()

Year
2017    5616
2018    1272
dtype: int64

(g) Qual cidade menos faturou com a venda de abacates?

In [173]:
df_avocado['Faturamento'] = df_avocado['Average_Price']*df_avocado['Total_Volume']

/shared-libs/python3.7/py-core/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [177]:
df_avocado[df_avocado['Faturamento']==np.min(df_avocado['Faturamento'])]

,Date,Average_Price,Total_Volume,Year,Region,Type,Faturamento
10381,2015-11-08,1.59,84.56,2015,MiamiFtLauderdale,orgânico,134.45

### Problema 4

Com base no dataset 'Video_Games_Sales.csv' responda:

In [184]:
df_video = pd.read_csv("./data/Video_Games_Sales.csv", encoding='UTF8', sep = ';')
df_video

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,"2,006.00",Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.00,51.00,8.00,322.00,Nintendo,E
1,Super Mario Bros.,NES,"1,985.00",Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,"2,008.00",Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.00,73.00,8.30,709.00,Nintendo,E
3,Wii Sports Resort,Wii,"2,009.00",Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.00,73.00,8.00,192.00,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,"1,996.00",Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,"2,016.00",Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,"2,006.00",Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,"2,016.00",Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,"2,003.00",Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,"2,016.00",Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN


(a) Quantos jogos existem em cada genero?

In [185]:
df_video.groupby('Genre').agg({"Name":"count"})

              Name
Genre
Action        3370
Adventure     1303
Fighting       849
Misc          1750
Platform       888
Puzzle         580
Racing        1249
Role-Playing  1500
Shooter       1323
Simulation     874
Sports        2348
Strategy       683

(b) Temos duplicados nesses dados? E nulos?

In [182]:
df_video.duplicated().sum()

0

In [183]:
df_video.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         9129
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

(b) Quantos jogos de cada publisher receberam nota acima de 9 na avaliação dos usuarios?

In [194]:

df_video[df_video['User_Score']>9].groupby("Publisher")[['Name']].count().sort_values("Name", ascending=False).rename({'Name':'Qty'},axis=1)

                                    Qty
Publisher
Nintendo                             20
Electronic Arts                      19
Activision                           16
Konami Digital Entertainment         10
THQ                                  10
Tecmo Koei                            9
Capcom                                9
Vivendi Games                         8
Atari                                 7
Sony Computer Entertainment           7
Sega                                  7
Namco Bandai Games                    6
Ubisoft                               5
Midway Games                          5
Eidos Interactive                     5
Take-Two Interactive                  4
Sony Computer Entertainment Europe    3
PQube                                 2
Acclaim Entertainment                 2
Microsoft Game Studios                2
Marvelous Interactive                 2
Zoo Digital Publishing                2
Atlus                                 2
LucasArts                             1
Sting                                 1
Activision Value                      1
Virgin Interactive                    1
ValuSoft                              1
Telegames                             1
Bethesda Softworks                    1
Codemasters                           1
Destination Software, Inc             1
Sunflowers                            1
Square Enix                           1
Metro 3D                              1
Square                                1
Disney Interactive Studios            1
GT Interactive                        1
Ignition Entertainment                1
Infogrames                            1
Interplay                             1
Jaleco                                1
Kadokawa Shoten                       1
Kemco                                 1
505 Games                             1


(c) Faça uma tabela que mostre o total vendido por ano por pais/globalmente de cada publisher? Você consegue observar algum padrão? Com se comportaram as vendas na América do Norte (NA) ao longo do tempo? O mesmo foi visto nos demais lugares?

In [218]:
teste = df_video.groupby(["Year_of_Release","Publisher"]).agg({"NA_Sales":"sum", "EU_Sales":"sum", "JP_Sales":"sum", "Other_Sales":"sum", "Global_Sales":"sum" })
a = pd.DataFrame()
a["NA_Sales%"]= teste["NA_Sales"]/teste["Global_Sales"]
a["JP_Sales%"]= teste["JP_Sales"]/teste["Global_Sales"]
a["EU_Sales%"]= teste["EU_Sales"]/teste["Global_Sales"]
a["Other_Sales%"]= teste["Other_Sales"]/teste["Global_Sales"]
a

                                              NA_Sales%  JP_Sales%  EU_Sales%  \
Year_of_Release Publisher
1,980.00        Activision                         0.93       0.00       0.06
                Atari                              0.93       0.00       0.06
1,981.00        20th Century Fox Video Games       0.94       0.00       0.05
                Activision                         0.94       0.00       0.05
                Atari                              0.93       0.00       0.06
...                                                 ...        ...        ...
2,016.00        Yeti                               0.00       1.00       0.00
                dramatic create                    0.00       1.00       0.00
2,017.00        Idea Factory                       0.00       1.00       0.00
                Sega                               0.00       1.00       0.00
2,020.00        Ubisoft                            0.93       0.00       0.00

                                              Other_Sales%
Year_of_Release Publisher
1,980.00        Activision                            0.01
                Atari                                 0.01
1,981.00        20th Century Fox Video Games          0.01
                Activision                            0.01
                Atari                                 0.01
...                                                    ...
2,016.00        Yeti                                  0.00
                dramatic create                       0.00
2,017.00        Idea Factory                          0.00
                Sega                                  0.00
2,020.00        Ubisoft                               0.07

[2337 rows x 4 columns]


(d) Qual foi jogo mais vendido na união européia? De que ano ele é e qual a editora?

In [223]:
df_video[df_video["EU_Sales"]==df_video["EU_Sales"].max()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,"2,006.00",Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.00,51.00,8.00,322.00,Nintendo,E

In [216]:
df_video.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')


(e) Quantos % os generos ['Racing', 'Sports', 'Shooter'] representam na base de dados?

In [224]:
df_video[df_video['Genre'].isin(['Racing', 'Sports', 'Shooter'])].shape[0]/df_video.shape[0]*100

29.427597344338775

(f) Qual plataforma vendeu menos globalmente? obs: imprimir somente o nome

In [231]:
df_video.groupby('Platform')[['Global_Sales']].sum().idxmin()[0]

'PCFX'

### Problema 5
A pasta 'data/datasus' contém informações sobre casos de dengue e tabelas auxiliares. <br>

| Tabela | Conteúdo |
|--------|----------|
| Dengue | Quantidade de casos por município |
| Agua | Quantidade de residências em cada município por tipo o abastecimento de água |
| InstalacoesSanitarias | Quantidade de residências em cada município por tipo de rede de esgoto |
| Pib | PIB per capita de cada município |
| Municipios | Relaciona o id_municipio com seu nome e estado |
| Populacao | Quantidade de pessoas morando em áreas urbanas, rurais e população total por município |
| Sexo | Quantidade de pessoas por sexo em cada município |

(a) Calcular o número de casos de dengue por cada estado apresentando os dados em ordem decrescente.

(b) Utilizando o dataset InstalacoesSanitarias.csv, determine o número de pessoas que não possuem meio sanitário algum de descarte de dejetos por estado.

(c) Crie uma coluna com a posição de ranking considerando o PIB. Os maiores PIB devem ter os menores valores de ranking.

(d) Qual o PIB dos 5 municípios com mais casos de dengue e sua posição no ranking?

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=1f826d52-8bc7-47a7-8f9d-9b5ff7245f3a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>