In [1]:
import pandas as pd
import numpy as np

## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Conté informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases e utilizando os métodos de concatenação de bases responda:

a) Quais produtos não foram vendidos?

In [2]:
customer = pd.read_csv("./data/customer.csv")
products = pd.read_csv("./data/products.csv")
sales = pd.read_csv("./data/sales.csv")

In [3]:
merged = sales.merge(products, how="right", on=["p_id","product"])

merged[merged["qty"].isna()][["product"]]

         product
0      Hard Disk
10      Keyboard
11         Mouse
12   Motherboard
13  Power supply

b) Quantos clientes não realizaram uma compra?

In [4]:
merged = sales.merge(customer, how="right", on=["c_id"])
merged[merged['sale_id'].isna()][['Customer']]

   Customer
9      King
10     Ronn
11      Jem
12      Tom

In [5]:
merged[merged['sale_id'].isna()][['Customer']].count()[0]

4

c) Liste a quantidade vendida e o faturamento de cada produto

In [10]:
merged = sales.merge(products, how="right", on=["p_id","product"])
merged['qty'].fillna(0, inplace = True)
merged['total'] = merged['qty']*merged['price']
merged.groupby(['product'])[['qty', 'total']].sum()

               qty  total
product
CPU            1.0   55.0
Hard Disk      0.0    0.0
Keyboard       0.0    0.0
Monitor       12.0  900.0
Motherboard    0.0    0.0
Mouse          0.0    0.0
Power supply   0.0    0.0
RAM            7.0  630.0

d) Liste a quantidade vendida de cada produto por loja

In [7]:
merged = sales.merge(products, how="outer", on=["p_id","product"])
merged['qty'].fillna(0, inplace = True)
merged.groupby(['store','product'])[['qty']].sum()

                qty
store product
ABC   Monitor  10.0
      RAM       3.0
DEF   CPU       1.0
      Monitor   2.0
      RAM       4.0

e) Qual loja teve maior faturamento?

In [8]:
merged = sales.merge(products, how="inner", on=["p_id","product"])
merged['total'] = merged["qty"]*merged["price"]
total_lojas = merged.groupby("store").agg({"total":"sum"})
total_lojas

       total
store
ABC     1020
DEF      565

In [42]:
total_lojas.reset_index().query("total == total.max()").store[0]

'ABC'

f) Qual produto foi o mais vendido?

In [16]:
total_vendas = sales.groupby('product')[['qty']].sum()
total_vendas

         qty
product
CPU        1
Monitor   12
RAM        7

In [41]:
total_vendas.reset_index().query("qty == qty.max()").iloc[0,0]

'Monitor'